#header {
  background: #131e55;

}

.navbar {
  background-color: transparent !important;
  font-family: Vazir;
}

.navbar-toggler {
  background-color: #ca236e;
}

a.nav-link,
a.navbar-brand {
  color: white !important;
}

a.nav-link {
  border: 3px transparent solid;
  text-align: center;
  padding-left: 25px !important;
  padding-right: 25px !important;
}

a.nav-link:hover {
  border-radius: 50px;
  border-color: rgba(255, 255, 255, 0.2) !important;
}

ul.navbar-nav.ml-auto {
  direction: rtl;
}
